certifi==2025.6.15
charset-normalizer==3.4.2
colorama==0.4.6
customtkinter==5.2.2
darkdetect==0.8.0
idna==3.10
markdown-it-py==3.0.0
mdurl==0.1.2
packaging==25.0
pillow==10.4.0
pygments==2.19.1
regex==2024.11.6
requests==2.32.4
rich==14.0.0
screeninfo==0.8.1
typing-extensions==4.13.2
urllib3==2.2.3
